.page-container {
  width: 90%;
  margin: auto;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2.2rem;

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    border-radius: 0.5rem;

    .card-image {
      width: 100%;
      flex-direction: row;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    .card-title {
      flex-direction: row;
      margin: 0.2rem;
    }

    .card-description {
      flex-direction: row;
      margin: 0.2rem;
    }
  }
}

@media only screen and (min-width: 481px) {
  .card-container {
    justify-content: space-between;
    .card {
        width: calc(90% / 2);
      }
  }
}

@media only screen and (min-width: 769px) {
    .card-container {
        justify-content: flex-start;
        .card {
            width: calc(90% / 3);
          }
      }
}