<div class="page-container">
  <div>
    <label>
      Enter the size of the data to be displyed :
      <input name="size" placeholder="size"  [(ngModel)]="size"/>
    </label>
    <button (click)="loadData()">Load Data</button>
  </div>
  <br />
  <div class="card-container">
    <div class="card" *ngFor="let card of cardData">
      <img class="card-image" src="https://picsum.photos/200" />
      <div class="card-title">{{ card.name }}</div>
      <div class="card-description">{{ card.description }}</div>
    </div>
  </div>
  <br />
  <table class="table-container">
    <thead class="table-head">
      <tr>
        <th *ngFor="let name of columnNames">{{ name }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let row of cardData">
        <td
          class="table-row-data"
          [attr.data-column]="name"
          *ngFor="let name of columnNames"
        >
          {{ row[name] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
