.page-container {
  width: 90%;
  margin: auto;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2.2rem;

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    border-radius: 0.5rem;

    .card-image {
      width: 100%;
      flex-direction: row;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    .card-title {
      flex-direction: row;
      margin: 0.2rem;
    }

    .card-description {
      flex-direction: row;
      margin: 0.2rem;
    }
  }
}

@media only screen and (min-width: 481px) {
  .card-container {
    justify-content: space-between;
    .card {
      width: calc(90% / 2);
    }
  }
}

@media only screen and (min-width: 769px) {
  .card-container {
    justify-content: flex-start;
    .card {
      width: calc(90% / 3);
    }
  }
}

.table-container {
  border: 1px solid;
  .table-head {
    background-color: #b7b7ff;
  }
  .table-row {
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 1rem 0rem;
    &:nth-of-type(odd) {
      background: #eee;
    }
    .table-row-data {
      border-bottom: 1px solid black;
    }
  }
}

@media screen and (max-width: 460px) {
  .table-container,
  .table-head,
  tbody,
  .table-head th,
  .table-row,
  .table-row-data {
    display: block;
  }

  .table-container{
    border: none;
    .table-head {
        display: none;
      }
      .table-row-data::before {
        content: attr(data-column);
        font-weight: bolder;
        display: block;
      }
  }
  
}
